{% include "base.html"%}

{% block content %}
	<!-- E Header -->

	<!-- Contaniner -->
	<div id="contaniner" class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->


		<!-- Contents Area -->
		 <div id="contents" class="">


            <!-- Contents Start -->

<!-- 실컨텐츠 시작 -->

<div class="wrap-login">
    <div class="sect-login">
        <ul class="tab-menu-round">
            <li class="on">
                <a href="{%url 'accounts:login'%}">로그인</a>
            </li>
            <li>
                <a href="#">비회원 예매</a>
            </li>
            <li>
                <a href="#">비회원 예매확인</a>
            </li>
        </ul>
        <div class="box-login">
            <h3 class="hidden">회원 로그인</h3>
            <form id="form1" method="post" action="{% url 'accounts:login' %}" novalidate="novalidate" onsubmit="return false">
                {% csrf_token %}
            <fieldset>
                <legend>회원 로그인</legend>
                <p>아이디 비밀번호를 입력하신 후, 로그인 버튼을 클릭해 주세요.</p>
                <div class="login">
                    <input type="text" title="아이디" id="txtUserId" name="txtUserId" required="required"
                        value="{{ form.username.value|default_if_none:'' }}">
                    <input type="password" title="패스워드" id="txtPassword" name="txtPassword" required="required"
                        value="{{ form.password.value|default_if_none:'' }}">
                </div>
                {% endblock %}
                <div class="save-id"> <input type="checkbox" id="loginSet"><label for="save_id">아이디 저장</label></div>


                <button type="submit" id="submit" title="로그인"><span>로그인</span></button>
                <div class="login-option">
                    <a href="#">아이디 찾기</a>
                    <a href="#">비밀번호 찾기</a>
                </div>
            </fieldset>
            </form>
			<div>
				<a href="#" class="btn_loginNaver"><img src="https://img.cgv.co.kr/image_gt/login/btn_loginNaver.jpg" alt="네이버 로그인"></a>
			</div>
        </div>
    </div>
    <div class="sect-loginguide">
        <div class="box-useguide">
            <strong>CJ ONE 회원이 아니신가요?</strong>
            <span>회원가입하시고 다양한 혜택을 누리세요!</span>
            <strong>
                <a href="#" class="round red"><span>CJ ONE 회원가입하기</span></a>
            </strong>
            <em>

            </em>
            <em>
                <a href="#" class="round black"><span>CJ ONE 멤버십이란?</span></a>
            </em>
        </div>
    </div>
    <div class="sect-loginad" style="background:#d2cbbe;">
        <div>
           <iframe src="https://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/sub@Login_bigbanner" width="350" height="300" title="기업광고-로그인플러스" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="Login_bigbanner" id="Login_bigbanner"></iframe>
        </div>
    </div>
</div>
<!-- 실컨텐츠 끝 -->

<!-- LogIn -->
<form name="loginform" id="loginform" method="post" action="https://www.cgv.co.kr/user/login/login.aspx" novalidate="novalidate">
	<input type="hidden" name="id" id="id">
	<input type="hidden" name="password" id="password">
    <input type="hidden" name="id_save" id="id_save">
	<input type="hidden" name="returnURL" value="https://www.cgv.co.kr/default.aspx">
</form>
<!-- //LogIn -->




            <!--/ Contents End -->
</div>
		<!-- /Contents Area -->
	</div>
    <!-- E Contaniner -->



    <!-- S 예매하기 및 TOP Fixed 버튼 -->
    <div class="fixedBtn_wrap">

        <a href="#" class="btn_fixedTicketing">예매하기</a>

        <a href="#" class="btn_gotoTop"><img src="https://img.cgv.co.kr/R2014/images/common/btn/gotoTop.png" alt="최상단으로 이동"></a>
    </div>

    <!-- E 예매하기 및 TOP Fixed 버튼 -->


{% include "footer.html" %}