hkdl{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review</title>
    <link rel="stylesheet" type="text/css" href="{%static '../css/review2.css' %}">
    <link rel="stylesheet" href="{%static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' %}">
    <script src="{%static '../js/jquery-3.5.1.min.js' %}"></script>
    <script src="{%static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
    <link href="{%static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">

</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!--Indicators -->
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

<!--Wrapper for slides-->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{%static '../image/review/언차티드.jpg' %}">
            <div class="card">
                <div class="cover">
                    <img src="{%static '../image/review/언차티드.jpg' %}">
                </div>
                <div class="details">
                    <h3>언차티드<br><span>감독 : 루벤 플레셔</span></h3>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span>7.21</span>
                    </div>

                    <div class="category">
                        <span>&bullet; 액션</span>
                        <span>&bullet; 어드벤처</span> <!--bullet은 앞에 점-->
                    </div>
                    <div class="info">
                        <p>모든 것을 걸었다면 세상 누구보다 빠르게 찾아야 한다!</p> <!--줄거리 더 넣을까..-->
                    </div>
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li><img src="{%static '../image/review/un_루벤플레셔.png' %}"></li>
                            <li><img src="{%static '../image/review/un_톰홀랜드.png' %}"></li>
                            <li><img src="{%static '../image/review/un_마크윌버그.png' %}"></li>
                            <li><img src="{%static '../image/review/un_안토니오.png' %}"></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="item">
            <img src="{%static '../image/review/주술회전.jpg' %}">
            <div class="card">
                <div class="cover">
                    <img src="{%static '../image/review/주술회전.jpg' %}">
                </div>
                <div class="details">
                    <h3>극장판 주술회전 0<br><span>감독 : 박성후</span></h3>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span>9.21</span>
                    </div>
                    <div class="category">
                        <span>&bullet; 애니메이션</span>
                    </div>
                    <div class="info">
                        <p>어릴 적 소꿉친구인 오리모토 리카를 교통사고로 눈앞에서 잃은 옷코츠 유타.</p> <!--줄거리 더 넣을까..-->
                    </div>
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li><img src="{%static '../image/review/주_나카무라.png' %}"></li>
                            <li><img src="{%static '../image/review/주_오카타.png' %}"></li>
                            <li><img src="{%static '../image/review/주_히나자와.png' %}"></li>
                            <li><img src="{%static '../image/review/주_세키.png' %}"></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="{%static '../image/review/나일강의죽음.jpg' %}">
            <div class="card">
                <div class="cover">
                    <img src="{%static '../image/review/나일강의죽음.jpg' %}">
                </div>
                <div class="details">
                    <h3>나일 강의 죽음<br><span>감독 : 케네스 브래너</span></h3>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span>7.26</span>
                    </div>

                    <div class="category">
                        <span>&bullet; 범죄</span>
                        <span>&bullet; 드라마</span> <!--bullet은 앞에 점-->
                        <span>&bullet; 미스터리</span>
                    </div>
                    <div class="info">
                        <p>신혼부부를 태운 이집트 나일 강의 초호화 여객선에서 살인 사건이 벌어진 가운데, 탐정 ‘에르큘 포와로’가 조사에 착수 하지만 연이은 살인 사건으로 탑승객 모두가 충격과 혼란에 휩싸이게 된다.</p> <!--줄거리 더 넣을까..-->
                    </div>
                    <div class="cast">
                        <h4>Cast</h4>
                        <ul>
                            <li><img src="{%static '../image/review/나_캐네스.png' %}"></li>
                            <li><img src="{%static '../image/review/나_캘가돗.png' %}"></li>
                            <li><img src="{%static '../image/review/나_레티티아.png' %}"></li>
                            <li><img src="{%static '../image/review/나_톰.png' %}"></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>


</body>
</html>