{%load static%}
{% include "base_m.html"%}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<div class="rev_content">
    <div class="messageDiv">
        <form action="./createTodo/" method="POST"> {% csrf_token %}
            <!-- form 태그의 action 속성의 값으로 submit 버튼이 눌리면 url을 요청한다.-->
            <!--  ./ : 현재 url을 지칭 -> http://127.0.0.1:8000/creareTodo/ url을 요청하게 된다.-->
            <div class="input-group">
                <input id="todoContent" name="todoContent" type="text" class="form-control" placeholder="관람하신 영화의 한줄평을 작성해주세요.">
            </div>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">등록</button>
                </span>

        </form>
    </div>

    <div class="toDoDiv">
        <ul class="list-group">
            {% for review in reviews %}
            <form action="" method="GET">
                <div class="input-group" name="todo1">
                    <li class="list-group-item">{{ review.content }}</li>
                    <input type="hidden" id="todoNum" name="todoNum" value="{{ todo.id }}"></input>
                </div>
            </form>
            {% endfor %}
        </ul>
    </div>
</div>


{% include "footer_m.html"%}
{% endblock %}
